= form_for @project_file do |f|
  - if @project_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project_file.errors.count, "error")} prohibited this project_file from being saved:"
      %ul
        - @project_file.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :file
    = f.file_field :file
  .actions
    = f.hidden_field :file_type
    = f.submit 'Upload and Parse'

= link_to 'Product List', products_path
