%h1 Listing project_files

%table
  %thead
    %tr
      %th File
      %th File type
      %th Parsing Status
      %th
      %th
      %th

  %tbody
    - @project_files.each do |project_file|
      %tr
        %td= project_file.file
        %td= project_file.file_type
        %td#parsing_status= project_file.parsing_status
        %td= link_to 'Show', project_file
        %td= link_to 'Edit', edit_project_file_path(project_file)
        %td= link_to 'Destroy', project_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project file', new_project_file_path