%p#notice= notice

%p
  %b File:
  = @project_file.file
%p
  %b File type:
  = @project_file.file_type
%p
  %b Parsing Status:
  %span#parsing_status
    = @project_file.parsing_status.capitalize

= link_to 'Upload New File', new_project_file_path

= link_to 'Product List', products_path

:javascript
  $(document).ready(function(){
    clearInterval(window.interval);
    window.interval = setInterval(function(){
      $.ajax({url: "#{project_file_url(@project_file)}", dataType: 'script'});
    }, 2000);
  });