%h1 Listing products

%table
  %thead
    %tr
      %th Sku
      %th Supplier Code
      %th Supplier Name
      %th Field 1
      %th Field 2
      %th Field 3
      %th Field 4
      %th Field 5
      %th Field 6
      %th Price

  %tbody
    - @products.each do |product|
      %tr
        %td= product.sku
        %td= product.supplier_code
        %td= product.supplier.try :name
        %td= product.field_1
        %td= product.field_2
        %td= product.field_3
        %td= product.field_4
        %td= product.field_5
        %td= product.field_6
        %td= product.price

%br

= link_to 'Upload New File', new_project_file_path